<%- include('cabecalho.ejs')%>

    <main class="container">
        <div class="page-header">
            <h2>Lista de Álbuns</h2>
            <a href="/cadastroalbum" class="btn btn-success">+ Novo Álbum</a>
        </div>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Artista</th>
                        <th>Ano</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>GUTS</td>
                        <td>Olivia Rodrigo</td>
                        <td>2023</td>
                        <td><a href="/album/guts" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>Norman Fucking Rockwell!</td>
                        <td>Lana Del Rey</td>
                        <td>2019</td>
                        <td><a href="/album/norman" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>A Matter of Time: The Final Hour</td>
                        <td>Laufey</td>
                        <td>2026</td>
                        <td><a href="/album/time" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>From the Pyre</td>
                        <td>The Last Dinner Party</td>
                        <td>2025</td>
                        <td><a href="/album/pyre" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>RED</td>
                        <td>Taylor Swift</td>
                        <td>2012</td>
                        <td><a href="/album/red" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>Jagged Little Pill</td>
                        <td>Alanis Morisette</td>
                        <td>1995</td>
                        <td><a href="/album/jagged" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>The Rise and Fall of a Midwest Princess</td>
                        <td>Chappell Roan</td>
                        <td>2023</td>
                        <td><a href="/album/princess" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>Titanic Rising</td>
                        <td>Weyes Blood</td>
                        <td>2019</td>
                        <td><a href="/album/titanic" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>emails i cant send</td>
                        <td>Sabrina Carpenter</td>
                        <td>2021</td>
                        <td><a href="/album/emails" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>Rumours</td>
                        <td>Fleetwood Mac</td>
                        <td>1977</td>
                        <td><a href="/album/rumours" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>you seem pretty sad for a girl so in love</td>
                        <td>Olivia Rodrigo</td>
                        <td>2026</td>
                        <td><a href="/album/prettysad" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>Pure Heroine</td>
                        <td>Lorde</td>
                        <td>2013</td>
                        <td><a href="/album/pure" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>Aurora</td>
                        <td>Daisy Jones and The Six</td>
                        <td>2023</td>
                        <td><a href="/album/aurora" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>the record</td>
                        <td>boygenius</td>
                        <td>2023</td>
                        <td><a href="/album/record" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>Ego Death At A Bachelorette Party</td>
                        <td>Hayley Williams</td>
                        <td>2025</td>
                        <td><a href="/album/ego" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>Memoir of a Sparklemuffin - Deluxe</td>
                        <td>Suki Waterhouse</td>
                        <td>2025</td>
                        <td><a href="/album/muffin" class="link">Ver Detalhes</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <%- include('rodape.ejs')%>