<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site de músicas da lory</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <!-- Cabeçalho -->
    <header>
        <div class="container">
            <h1>Sistema de Músicas da lory! :p</h1>
            <nav>
                <ul>
                    <li><a href="/">Início</a></li>
                    <li><a href="/cadastro">Formulário</a></li>
                    <li><a href="/artista">Artistas</a></li>
                    <li><a href="/genero">Gêneros</a></li>
                    <li><a href="/musica">Músicas</a></li>
                    <li><a href="/album">Álbuns</a></li>
                    <li><a href="/playlist">Playlist</a></li>
                </ul>
            </nav>
        </div>
    </header>