<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site de músicas</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <!-- Cabeçalho -->
    <header>
        <div class="container">
            <h1>Sistema de Música</h1>
            <nav>
                <ul>
                    <li><a href="/">Início</a></li>
                    <li><a href="/cadastro">Formulário</a></li>
                    <li><a href="/lista">Lista</a></li>
                    <li><a href="/detalhe">Músicas</a></li>
                </ul>
            </nav>
        </div>
    </header>