<%- include('cabecalho.ejs')%>

    <main class="container">
        <div class="page-header">
            <h2>Lista de Gêneros</h2>
            <a href="/cadastrogenero" class="btn btn-success">+ Novo Gênero</a>
        </div>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Ações</th>
                        <th>Mais</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Pop</td>
                        <td>Música dançante e lésbica</td>
                        <td><a href="/artista/sabrinacarpenter" class="link">Ver Detalhes</a></td>
                        <td><a href="/artista/chappellroan" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>Jazz</td>
                        <td>Música confortável</td>
                        <td><a href="/artista/laufey" class="link">Ver Detalhes</a></td>
                        <td><a href="/artista/laufey" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>Rock</td>
                        <td>Feminine rage</td>
                        <td><a href="/artista/thelastdinnerparty" class="link">Ver Detalhes</a></td>
                        <td><a href="/artista/alanismorisette" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>Pop Rock</td>
                        <td>Eu amo música!!!!!!!</td>
                        <td><a href="/artista/oliviarodrigo" class="link">Ver Detalhes</a></td>
                        <td><a href="/artista/hayleywilliams" class="link">Ver Detalhes</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <%- include('rodape.ejs')%>