<%- include('cabecalho.ejs')%>

    <main class="container">
        <div class="page-header">
            <h2>Lista de Gêneros</h2>
            <a href="/cadastrogenero" class="btn btn-success">+ Novo Gênero</a>
        </div>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Pop</td>
                        <td>Música dançante</td>
                        <td><a href="/genero/man" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>Jazz</td>
                        <td>Fim de tarde confortável</td>
                        <td><a href="/genero/late" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>Rock</td>
                        <td>Muitas guitarras elétricas</td>
                        <td><a href="/genero/agnus" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>Pop Rock</td>
                        <td>Feminine rage!</td>
                        <td><a href="/genero/pretty" class="link">Ver Detalhes</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <%- include('rodape.ejs')%>