<%- include('cabecalho.ejs')%>

    <!-- Conteúdo Principal -->
    <main class="container">
        <h2>Bem-vindo(a) ao Sistema de Música da lory!</h2>
        <img src="./deer.jpg">
    </main>

    <%- include('rodape.ejs')%>