<%- include('cabecalho.ejs')%>

    <main class="container">
        <div class="page-header">
            <h2>Lista de Artistas</h2>
            <a href="/cadastro" class="btn btn-success">+ Novo Artista</a>
        </div>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>País</th>
                        <th>Ano Início</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Olivia Rodrigo</td>
                        <td>Estados Unidos</td>
                        <td>2002</td>
                        <td><a href="artista-detalhes.html?id=1" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>Sabrina Carpenter</td>
                        <td>Estados Unidos</td>
                        <td>2000</td>
                        <td><a href="artista-detalhes.html?id=2" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>Laufey</td>
                        <td>Brasil</td>
                        <td>2001</td>
                        <td><a href="artista-detalhes.html?id=3" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>The Last Dinner Party</td>
                        <td>Inglaterra</td>
                        <td>2006</td>
                        <td><a href="artista-detalhes.html?id=4" class="link">Ver Detalhes</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <%- include('rodape.ejs')%>