<%- include('cabecalho.ejs')%>

    <main class="container">
        <div class="page-header">
            <h2>Lista de Artistas</h2>
            <a href="/cadastro" class="btn btn-success">+ Novo Artista</a>
        </div>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>País</th>
                        <th>Ano Início</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Olivia Rodrigo</td>
                        <td>Estados Unidos</td>
                        <td>2021</td>
                        <td><a href="/artista/oliviarodrigo" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>Sabrina Carpenter</td>
                        <td>Estados Unidos</td>
                        <td>2016</td>
                        <td><a href="/artista/sabrinacarpenter" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>Laufey</td>
                        <td>Brasil</td>
                        <td>2021</td>
                        <td><a href="/artista/laufey" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>The Last Dinner Party</td>
                        <td>Inglaterra</td>
                        <td>2021</td>
                        <td><a href="/artista/thelastdinnerparty" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>Hayley Williams</td>
                        <td>Estados Unidos</td>
                        <td>2003</td>
                        <td><a href="/artista/hayleywilliams" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>Chappell Roan</td>
                        <td>Estados Unidos</td>
                        <td>2020</td>
                        <td><a href="/artista/chappellroan" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>Phoebe Bridgers</td>
                        <td>Estados Unidos</td>
                        <td>2015</td>
                        <td><a href="/artista/phoebebridgers" class="link">Ver Detalhes</a></td>
                    </tr>
                    <tr>
                        <td>Weyes Blood</td>
                        <td>Estados Unidos</td>
                        <td>2015</td>
                        <td><a href="/artista/weyes" class="link">Ver Detalhes</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <%- include('rodape.ejs')%>