<%- include('../cabecalho.ejs')%>

    <!-- Conteúdo Principal -->
    <main class="container">
        <div class="success-container">
            <div class="success-icon">✓</div>
            <h2>Cadastrado com Sucesso!</h2>
            <p class="success-message">O artista foi cadastrado no sistema.</p>

        </div>
    </main>
<%- include('../rodape.ejs')%>