<%- include('../cabecalho.ejs')%>
    <main class="container">
        <a href="/album" class="back-link">← Voltar para lista</a>

        <div class="form-container">
            <h2>Cadastrar Novo Álbum</h2>

            <form method="post">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" id="nome" name="nome">
                    <label for="ano">Ano</label>
                    <input type="text" id="ano" name="ano">
                    <label for="genero">Gênero</label>
                    <input type="text" id="genero" name="genero">
                </div>


                <div class="form-buttons">
                    <button type="submit" class="btn btn-success">Cadastrar</button>
                    <a href="album/lst" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </main>
    <%- include('../rodape.ejs')%>